<title>Report form</title>

  <body>
<div class="container mt-5">

  <div class="alert alert-danger text-center col-5" *ngIf="isvalid" style="margin: auto;">برجاء ملئ البيانات اولا</div>

<form class="form-signin mt-3" [formGroup]="form" (ngSubmit)="submitForm()" novalidate>
    <div class="form-label-group" *ngIf="!isLogin">
        <input type="text" id="name" formControlName="name" class="form-control" placeholder="Name" required autofocus >
        <label for="inputName">الاسم</label>
        <div class="alert alert-danger" role="alert"
          *ngIf="form.controls['name'].errors && form.controls['name'].touched" >
          <strong *ngIf="form.controls['name'].errors['required']">برجاء ادخال الاسم</strong>
          <strong *ngIf="form.controls['name'].errors['minlength']" >  الاسم  يجب الا يقل عن اربعه احرف</strong>
          <strong *ngIf="form.controls['name'].errors['maxlength']">  الاسم  يجب الا يزيد عن عشرون حرفا</strong>
          <strong *ngIf="form.controls['name'].errors['pattern']" >   الاسم  يجب ان يكون حروف فقط</strong>
        </div>       
      </div>  

  <div class="form-label-group" *ngIf="!isLogin">
    <input type="email" id="email" formControlName="email" class="form-control" placeholder="البريد الالكتروني" required autofocus >
    <label for="inputEmail">البريد الالكترونى</label>
    <div class="alert alert-danger" role="alert"
    *ngIf=" form.controls['email'].errors && form.controls['email'].touched">
    <strong *ngIf="form.controls['email'].errors &&  form.controls['email'].errors['required']"> برجاء ادخال البريد الالكترونى</strong >
    <strong *ngIf="form.controls['email'].errors['email']">برجاء ادخال البريد الالكتروني بطريقه صحيحه</strong>
  </div>
  </div> 

  <div class="form-label-group" *ngIf="!isLogin">
    <input type="text" id="phone" formControlName="phone" class="form-control" placeholder="phone" required >
    <label for="inputPhone">رقم الهاتف</label>
    <div class="alert alert-danger" role="alert" *ngIf="form.controls['phone'].errors && form.controls['phone'].touched" >
    <strong  *ngIf="form.controls['phone'].errors['required']"> برجاء ادخال رقم الهاتف</strong>
    <strong *ngIf="form.controls['phone'].errors['minlength']">رقم الهاتف يجب الا يقل عن 11 رقما</strong >
      <strong *ngIf="form.controls['phone'].errors['maxlength']" >رقم الهاتف يجب الا يزيد عن 11 رقما</strong>
      <strong *ngIf="form.controls['phone'].errors['pattern']" >لابد ان يبدا هاتفك ب 015,012,011,010</strong >
    </div>
  </div> 

  <div class="form-label-group">
    <input type="text" id="url" formControlName="url" class="form-control" placeholder="الرابط"  >
    <label for="inputPhone"> الرابط</label>
    <div class="alert alert-danger" role="alert"*ngIf=" form.controls['url'].errors && form.controls['url'].touched">
      <strong *ngIf="form.controls['url'].errors['pattern']">برجاء ادخال الرابط بطريقه </strong >
      </div >
  </div>

  <div class="form-label-group">
    <textarea id="description" formControlName="description" placeholder="وصف الشكوى" class="form-control"  required autofocus ></textarea>
    <!-- <label for="inputDescription">وصف الشكوى</label> -->
    <div class="alert alert-danger" role="alert"*ngIf=" form.controls['description'].errors && form.controls['description'].touched">
    <strong *ngIf="form.controls['description'].errors['required']">برجاء ادخال الحقل </strong >
    </div >
  </div>  
  <div class="form-group">
    <input id="file"
        type="file"
        accept=" image/png,image/jpg, image/jpeg, image/PNG, image/JPG, image/JPEG"
        class="form-control mb-3"
        formControlName ='file'
        multiple="multiple"
        (change)="onFileChange($event)">
        <div
        class="alert alert-danger"
          role="alert"
          *ngIf="
          form.controls['file'].errors">
        </div>
</div>
  <div>
  <button class="send mx-auto" >تقديم الشكوى</button>
</div>
</form>


    </div>
  </body>
