  <!-- <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
         <mat-card-title>Shiba Inu</mat-card-title> -->
          <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> --> 
        <!-- </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
         <mat-card-actions> 
           <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
       
      </mat-card>   -->
       
  <!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="card">
  <img src="1.jpg" alt="للايجار" style="width:100%">
  <h1>للايجار</h1>
  <p class="title">للايجار</p>
  <p>للايجار</p>
  <a href="#"><i class="fa fa-instagram"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-whatsapp"></i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>
  <a href="#"><i class="fa fa-heart"></i></a>
  <a ng-click="myfavorites()">Add favorites</a>
   <p>المفضلة</p>
   <i class="material-icons">&#xe87e;</i>
   <i class="material-icons">&#xe87d;</i>
   <!-- <button class="favouri" (click)="isFavoritee(x.ad_Id)">
    <i class="fa" [ngClass]="{'fa-heart' : isFavorite[x.ad_Id], 'fa-heart-o': !isFavorite[x.ad_Id] }"></i>
</button> -->
</div>
