<div class="container my-5 py-5">
<mat-card  class="container mt-5 w-75 ">
    <div class="row  search">
      <div class="col-sm-6 col-lg-2">
        <mat-form-field >
          <input type="search"matInput [matAutocomplete]="auto"
           placeholder="الموقع"  >
          <mat-autocomplete #auto="matAutocomplete">
            <mat-select>
                <mat-option *ngFor="let food of options" [value]="">
                  {{food}}
                </mat-option>
              </mat-select>
          </mat-autocomplete>
        </mat-form-field>
        </div>
        <div class="col-sm-6 col-lg-2">
        <mat-form-field>
          <input type="search"matInput [matAutocomplete]="auto"  placeholder="النوع" >
          <mat-autocomplete #types="matAutocomplete">
          <mat-option *ngFor="let type of options" [value]="auto">
            {{type}}
          </mat-option>
          </mat-autocomplete>
        </mat-form-field>  
      </div>
      <div class="col-sm-6 col-lg-2">
      <mat-form-field>
        <input type="text"matInput 
        
        
          placeholder="عدد الغرف">
      </mat-form-field>  
      </div>
      
    </div>
    <div class="row d-flex justify-content-center mt-4 ">
    <div    class="col col-md-3 col-lg-2 m-1">
      <button mat-raised-button >بحث <mat-icon class="field-icon">search</mat-icon> </button>
    </div>
    <div class="col col-md-3 col-lg-2 m-1"  >
      <button mat-raised-button >مسح<mat-icon class="field-icon">filter_alt</mat-icon> </button>
    </div>
  </div>
</mat-card>
</div>