
  <mat-card class="container-fluid   ">
    <div class="row  flex-wrap align-items-lg-center  justify-content-between">
      <div class="col-sm-4 col-lg-4 col-md-3   p-1">
        <form class="location " appearance="fill">
          <input type="text" class="text-center"  placeholder="الموقع" [formControl]="control" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let street of filteredStreets | async" [value]="street">
              {{street}}
            </mat-option>
          </mat-autocomplete>
        </form>
      </div>
      <div class="col-sm-4 col-lg-4 col-md-3  p-1">
        <form class="location" appearance="fill">
          <input type="text" class="text-center"  placeholder="النوع" [formControl]="control" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let street of filteredStreets | async" [value]="street">
              {{street}}
            </mat-option>
          </mat-autocomplete>
        </form>
      </div>
      <div class="col-sm-4 col-lg-4 col-md-3 p-1">
        <form class="location" appearance="fill">
          <input type="text" class="text-center" placeholder="عدد الغرف" [formControl]="control" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let street of filteredStreets | async" [value]="street">
              {{street}}
            </mat-option>
          </mat-autocomplete>
        </form>
      </div>
    </div>



    <div class="row d-flex justify-content-center mt-4 ">
      <div class="col col-md-3 col-lg-2 m-1">
        <button mat-raised-button>بحث <mat-icon class="field-icon">search</mat-icon> </button>
      </div>
      <div class="col col-md-3 col-lg-2 m-1">
        <button mat-raised-button>مسح<mat-icon class="field-icon">filter_alt</mat-icon> </button>
      </div>
    </div>
  </mat-card>
