
<title>Edit form</title>

    
<form class="form-signin" [formGroup]="form" (ngSubmit)="submitForm()" novalidate >

    <div class="form-label-group">
        <input type="password" id="old_password" formControlName="old_password" class="form-control"
         placeholder="" required autofocus >
        <label for="inputold_password">كلمة المرور القديمة</label>        
        <div class="alert alert-danger" role="alert"
          *ngIf="form.controls['old_password'].errors && form.controls['old_password'].touched" >
          <strong *ngIf="form.controls['old_password'].errors['required']"> كلمة المرور مطلوبة</strong>
          <strong *ngIf="form.controls['old_password'].errors['minlength']" >  كلمة المرور يجب ان تحتوى على ارقام وحروف      </strong>
          <strong *ngIf="form.controls['old_password'].errors['maxlength']">  كلمة المرور يجب ان تحتوى على ارقام وحروف       </strong>
          <strong *ngIf="form.controls['old_password'].errors['pattern']" >    كلمة المرور يجب ان تحتوى على حرف كابيتال على الاقل وحرف صغير  </strong>
        </div>       
      </div>    

      <br> <br>
  <div class="form-label-group">
       <input type="password" id="new_password" formControlName="new_password" class="form-control"  required autofocus >
       <label for="inputnew_password"> كلمة المرور الجديدة</label>
       <div class="alert alert-danger" role="alert"
          *ngIf="form.controls['new_password'].errors && form.controls['new_password'].touched" >
          <strong *ngIf="form.controls['new_password'].errors['required']"> كلمة المرور مطلوبة </strong>
          <strong *ngIf="form.controls['new_password'].errors['minlength']" >  كلمة المرور يجب ان لا تقل عن 6</strong>
          <strong *ngIf="form.controls['new_password'].errors['maxlength']">  كلمة مرور يجب ان لا تزيد عن 20</strong>
          <strong *ngIf="form.controls['new_password'].errors['pattern']" >    كلمة المرور يجب ان تحتوى على حرف كابيتال على الاقل وحرف صغير  </strong>
        </div>
  </div>
  <br> <br>

  <div class="form-label-group">
    <input type="password" id="new_password_confirmation" formControlName="new_password_confirmation" class="form-control"  required autofocus >
    <label for="inputnew_password_confirmation"> تأكيدكلمة المرور </label>
    <div class="alert alert-danger" role="alert"
       *ngIf="form.controls['new_password_confirmation'].errors && form.controls['new_password_confirmation'].touched" >
       <strong *ngIf="form.controls['new_password_confirmation'].errors['required']"> كلمة المرور مطلوبة </strong>
       <strong *ngIf="form.controls['new_password_confirmation'].errors['minlength']" > 6 كلمة المرور يجب ان لا تقل عن   </strong>
       <strong *ngIf="form.controls['new_password_confirmation'].errors['maxlength']">  كلمة مرور يجب ان لا تزيد عن 20  </strong>
       <strong *ngIf="form.controls['new_password_confirmation'].errors['pattern']" >  كلمة المرور يجب ان تحتوى على حرف كابيتال وحرف صغير    </strong>
     </div>
</div>
<br> <br>

 

  <button type="submit" class="send"  [disabled]="!form.valid">تأكيد </button>

  </form>