
    <div class="card shadow-sm m-3" routerLink="/details/{{advertisment.id}}">

      
        <img [src]="advertisment.advertisement_image[0].image_name" height="200px" width="100%" alt="{{advertisment.advertisement_image[0].image_name}}" >
      <div class="card-body bg-light ">
        <div class="container">
          <div class="row ">

            <div class="col px-3 py-2">
              <div class="d-flex flex-row justify-content-between">

                <p class="mb-2 text-muted">{{advertisment .type}}</p>
                <div class="d-flex flex-row" *ngIf="advertisment .ratings_count>0">
                  <mat-icon style="font-size:large;">star</mat-icon>
                  <p>{{advertisment .ratings_avg_count}}</p>
                  <p>({{advertisment .ratings_count}})</p>
                </div>

              </div>
              <h3 class="mb-0">{{advertisment .title}}</h3>
              <h3 class="mb-0">{{advertisment .price}}جنيه</h3>
              <div class="d-flex justify-content-between align-items-center ">
                <small class="text-muted"> <span class="material-icons   ">location_on</span> {{advertisment.address}}</small>
              </div>
              <div class=" mt-2">
                <button type="button" class="btn mx-1 btn-sm btn-outline-warning">تعديل</button>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
 