<div class="col card">
    <div class="card shadow-sm">
      <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: صورة مصغرة" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">صورة مصغرة</text></svg>

      <div class="card-body">
        <small class="text-muted">شقه</small>

        <h2 class="card-text">شقه فاخره في المنصوره</h2>
        <div class="d-flex justify-content-between align-items-center ">
            <small class="text-muted"> <span class="material-icons  mx-3 ">location_on</span> شارع بوابة القريه </small>

          <div class="btn-group">
            <button type="button" class="btn mx-1 btn-sm btn-outline-warning">عرض</button>
            <button type="button" class="btn mx-1 btn-sm btn-outline-warning">تعديل</button>
          </div>
         
        </div>
      </div>
    </div>
  </div>

