ng serve

<div class="apply-page-header container">
  <section class="apply-page-header-title">
    <div class="apply-page-header-title-container container">
      <h2>شارك إعلانك معنا</h2>
      <p></p>
    </div>
  </section>
</div>

<div class="container mt-5">
  <form dir="rtl" class="w-100" [formGroup]="addproperity" (submit)="onsubmit()">
    <div class="mb-3">
      <label for="title"  class="form-label">اسم الاعلان</label>
      <input
      formControlName="title"
        type="text"
        class="form-control"
        name="title"
        id="title"
        aria-describedby="passwordHelp"
      />
    </div>
    <div class="mb-3">
      <label for="description">الوصف</label>
      <textarea
      formControlName="description"
        class="form-control"
        name="description"
        id="description"
        rows="3"
      ></textarea>
    </div>

    <div class="row mb-3">
      <div class="col-sm-12 col-md-6">
        <label for="price" class="form-label">السعر</label>
        <input type="number" name="price"  formControlName="price"  class="form-control" id="price" />
      </div>
      <div class="col-sm-12 col-md-6">
        <label for="level" class="form-label">الطابق</label>
        <input type="number" formControlName="level" name="level" class="form-control" id="level" />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-12 col-md-4">
        <label for="bedroom-num" class="form-label">عدد الغرف</label>
        <input
        formControlName="bedroomnum"
          type="number"
          name="bedroomnum"
          class="form-control"
          id="bedroom-num"
        />
      </div>
      <div class="col-sm-12 col-md-4">
        <label for="bathroomnum" class="form-label">عدد الحمامات</label>
        <input
        formControlName="bathroomnum"
          type="number"
          name="bathroomnum"
          class="form-control"
          id="bathroom-num"
        />
      </div>
      <div class="col-sm-12 col-md-4">
        <label for="bedsnum" class="form-label">عدد السرائر</label>
        <input type="number" formControlName="bedsnum" name="bedsnum" class="beds-num" id="beds-num" />
      </div>
    </div>

    <div class="row mt-3 mb-4">
      <div class="col-ms-12 col-md-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">مفروش</h4>
            <mat-radio-group aria-label="Select an option" >
              <mat-radio-button  name="furniture" value="1" color="primary">نعم</mat-radio-button>
              <mat-radio-button name="furniture" value="2" color="primary">لا</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>

      <div class="col-ms-12 col-md-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">النوع</h4>
            <mat-radio-group aria-label="Select an option" >
              <mat-radio-button name="type" value="1" color="primary">شقة</mat-radio-button>
              <mat-radio-button name="type" value="2" color="primary"
                >ستوديو</mat-radio-button
              >
              <mat-radio-button name="type" value="3" color="primary"
                >غرفة</mat-radio-button
              >
            </mat-radio-group>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-sm-12 col-md-4">
        <label for="address" class="form-label">المحافظة</label>
        <input type="text" name="governate" class="form-control" id="address" />
      </div>
      <div class="col-sm-12 col-md-8">
        <label for="address" class="form-label">العنوان بالتفصيل</label>
        <input type="text" name="address" class="form-control" id="address" />
      </div>

    </div>
    <div class="row" formGroupName="Image">
      <div class="col-sm-12 col-md-3">
        <div class="file-field">
          <div class="z-depth-1-half mb-4">
            <img
              src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg"
              class="img-fluid w-100"
              alt="example placeholder"
            />
          </div>
          <div class="d-flex justify-content-center">
            <div class="btn btn-mdb-color btn-rounded float-left">
              <span>Choose file</span>
              <input type="file" formControlName="imageone"  name="imageone" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3">
        <div class="file-field">
          <div class="z-depth-1-half mb-4">
            <img
              src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg"
              class="img-fluid w-100"
              alt="example placeholder"
            />
          </div>
          <div class="d-flex justify-content-center">
            <div class="btn btn-mdb-color btn-rounded float-left">
              <span>اختر صورة </span>
              <input type="file"  name="imagtwo" formControlName="imagtwo"/>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3">
        <div class="file-field">
          <div class="z-depth-1-half mb-4">
            <img
              src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg"
              class="img-fluid w-100"
              alt="example placeholder"
            />
          </div>
          <div class="d-flex justify-content-center">
            <div class="btn btn-mdb-color btn-rounded float-left">
              <span>اختر صورة</span>
              <input type="file" name="imagethree"  formControlName="imagethree"/>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3">
        <div class="file-field">
          <div class="z-depth-1-half mb-4">
            <img
              src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg"
              class="img-fluid w-100"
              alt="example placeholder"
            />
          </div>
          <div class="d-flex justify-content-center">
            <div class="btn btn-mdb-color btn-rounded float-left">
              <span>اختر صورة</span>
              <input type="file" name="imagefour" formControlName="imagefour"/>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center mt-5">
      <input class="send" type="submit" value="submit"/>
    </div>
  </form>
</div>
<p>{{addproperity.value |json}}</p>
