<section class="get-in-touch" dir="rtl">
  <h1 class="title">انشر إعلانك</h1>
  <form class="contact-form row">
    <div class="form-field col-lg-12">
      <input id="message" class="input-text js-input" type="text" required />
      <label class="label" dir="rtl" for="message">اسم الاعلان</label>
    </div>

    <div class="form-field col-lg-12">
      <!-- <input id="" class="input-text js-input" type="text-area" required /> -->
      <textarea
        id="discription"
        name="discription"
        rows="10"
        class="teaxtarea js-input"
        cols="50"
      >
      </textarea>
      <label class="label" for="discription">الوصف</label>
    </div>
    <div class="form-field col-lg-6">
      <input
        id="bedroomnum"
        name="bedroomnum"
        class="input-text js-input"
        type="number"
        required
      />
      <label class="label" for="bedroomnum">عدد الغرف</label>
    </div>
    <div class="form-field col-lg-6">
      <input
        id="price"
        class="input-text js-input"
        name="price"
        type="number"
        required
      />
      <label class="label" for="price">ثمن الايجار</label>
    </div>
    <div class="form-field col-lg-6">
      <input
        id="bathroomnum"
        class="input-text js-input"
        type="number"
        required
      />
      <label class="label" for="bathroomnum">عدد الحمامات</label>
    </div>
    <div class="form-field col-lg-6">
      <input id="bednum" class="input-text js-input" type="number" required />
      <label class="label" for="bednum">عدد السرائر </label>
    </div>
    <div class="form-field col-lg-6">
      <input id="level" class="input-text js-input" type="number" required />
      <label class="label" for="level">الطابق</label>
    </div>

    <div class="row mt-3 mb-4">
      <div class="col-ms-12 col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">مفروش</h4>
            <mat-radio-group aria-label="Select an option">
              <mat-radio-button value="1" color="primary">نعم</mat-radio-button>
              <mat-radio-button value="2" color="primary">لا</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>

      <div class="col-ms-12 col-md-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">النوع</h4>
            <mat-radio-group aria-label="Select an option">
              <mat-radio-button value="1" color="primary">شقة</mat-radio-button>
              <mat-radio-button value="2" color="primary"
                >ستوديو</mat-radio-button
              >
              <mat-radio-button value="3" color="primary"
                >غرفة</mat-radio-button
              >
            </mat-radio-group>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="formFile" class="form-label">الصور</label>

      <input
        type="file"
        name="formFile"
        class="form-control"
        accept="image/x-png,image/gif,image/jpeg"
      />
    </div>
    <div class="text-center mt-5">
      <input class="send " type="submit" value="submit" />
    </div>

    <!-- <div class="form-field col-lg-12">
      <input class="submit-btn" type="submit" value="Submit" />
    </div> -->
  </form>
</section>

