

<!-- Page Content -->
<div class="container">
  <div class="row justify-content-center">
    <!-- Team Member 1 -->
    <div class="col-sm-4 mb-4">

<form class="form-signin" dir="rtl"  >

    <h1 class="h3 mb-3 fw-normal">انشاء حساب جديد</h1>
  
    <div class="form-label-group hov">
      <input type="text" id="inputName" class="form-control " placeholder="User name" required autofocus>
      <label for="inputName">اسم المستخدم</label>
    </div>
  
    <div class="form-label-group hov">
      <input type="email" id="inputEmail" class="form-control " placeholder="Email address" required autofocus>
      <label for="inputEmail">البريد الالكترونى</label>
    </div>
  
    <div class="form-label-group hov">
      <input type="number" id="inputPhone" class="form-control " placeholder="User phone" required autofocus>
      <label for="inputPhone">رقم الموبايل</label>
    </div>
  
    <div class="form-label-group hov">
      <input type="password" id="inputPassword" class="form-control " placeholder="Password" required>
      <label for="inputPassword">كلمة المرور</label>
    </div>
  
    <div class="checkbox mb-3">
      <div class="form-check form-check-inline">
        <input class="form-check-input hov" type="radio" name="male" id="inlineRadio1" value="male">
        <label class="form-check-label" for="inlineRadio1">ذكر</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input hov" type="radio" name="female" id="inlineRadio2" value="female">
        <label class="form-check-label" for="inlineRadio2">أنثى</label>
      </div>
    </div>
  
    <!-- <div class="form-group col-md-6"> -->
    <button class="send form-group col-md-5 right" type="submit" >انشاء حساب كمستأجر</button>
    <!-- </div> -->
    <!-- <div class="form-group col-md-6"> -->
     <button class="send form-group col-md-5 left" type="submit">انشاء حساب كمالك</button>
     <!-- </div> -->
    <div class="form-label-group">
      <a href="#" style="width:100%;"  class="hov">لدى حساب</a>
      </div>
  
  </form>
  
  
  
  
  </div>
  </div>
  </div>
  