

<div class="bg-light mt-5">
    <div class="container py-5">
      <div class="row h-100 align-items-center py-5" *ngFor="let item of projectData">
        <div class="col-lg-6"  >
          <h1 class="display-4"> تعرف علينا</h1>
          <h2 class="display-4">{{item.title}}</h2>
          <p class="lead text-muted mb-0">{{item.description}}</p>        
        </div>
        <div class="col-lg-6 d-none d-lg-block"><img src="{{item.image}}" alt="hereeeeeeeeeeeeee" class="img-fluid"></div>
      </div>
    </div>
  </div>
  
  
  
  <div class="bg-light py-5 ">
    <div class="container py-5">
      <div class="row mb-4 justify-content-center">
        <div class="col-lg-5 text-center">
          <h2 class="display-4 font-weight-light">فريقنا</h2>
          <!-- <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
        </div>
      </div>
  
      <div class="row text-center justify-content-center" *ngFor="let person of teamData.data" >
  
        <div class="col-3" >
          <div class="bg-white rounded shadow-sm py-5 px-4">
            <img src="{{person.image}}" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">{{person.name}}</h5><span class="small text-uppercase text-muted">{{person.jopTitle}}</span>
            <h6 class="mb-0">{{person.jobTitle}}</h6>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  