
 <section class="h-100 gradient-form">
  <div class="container py-5 h-100">

    <div class="row d-flex justify-content-center align-items-center  h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <h4 class="mt-3 mb-5 pb-1 text-danger"> من فضلك ادخل بريدك الالكترونى  </h4>
                </div>

                <form  >

                  <div class="form-outline mb-4">
                    <label class="form-label" for="email">البريد الالكترونى</label>
                    <input type="email" class="form-control" dir="ltr"  formControlName="email" name="password" placeholder="البريد الالكترونى"
                      required />
                    <!-- <div *ngIf="loginForm.controls['email'].errors && (loginForm.controls['email'].touched)">
                      <small class="form-text text-danger "
                        *ngIf="loginForm.controls['email'].errors && loginForm.controls['email'].errors ['required']">Email
                        is
                        requierd</small>
                      <small class="form-text text-danger " *ngIf="loginForm.controls['email'].errors['minlength'] ">
                        minimum
                        length is 7 </small>
                      <small class="form-text text-danger " *ngIf="loginForm.controls['email'].errors['email']">
                        Email is invalid</small>
                      <small class="form-text text-danger " *ngIf="loginForm.controls['email'].errors['maxlength']">
                        maximum length
                        is 40</small>
                    </div> -->

                  </div>
                  <div><p id="emailerror"></p></div>



                  <div class="pt-1 mb-4">
                    <button
                      class="btn btn-dark btn-block fa-lg gradient-custom-2 mb-3" type="submit"
                      > ارسال</button>
                  </div>

                    </form>

              </div>
            </div>
