<div class="container gradient-form
">
  <div class="row g-10px">
    <div class="col-sm-12 col-md-5">
      <div class="row ">
        <div class="col-sm-12 user">
          <p  class=" one handel"> الملاك<span class="nimbers">{{allRenters}}</span></p></div>
        <div class="col-sm-12 user"><p class="handel two">المستاجرين<span class="nimbers">{{allRenters}}</span></p></div>
        <div class="col-sm-12 user"><p class="handel three">المسؤلين<span class="nimbers">{{allRenters}}</span></p></div>
        <div class="col-sm-12 user"><p class="handel four">المحظورين<span class="nimbers">{{allRenters}}</span></p></div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 parent ">
      <div class="row w-100 control gap g-10px">
        <div class=" ads col-sm-12 col-md-5">
          <p>{{allRenters}}</p>
          <p class="fonthandel">الاعلانات المقبولة</p>
        </div>
        <div class="ads col-sm-12 col-md-5">
          <p>{{allRenters}}</p>
          <p class="fonthandel">الاعلانات المرفوضة</p>


        </div>
        <div class=" ads col-sm-12 col-md-5">
          <p>{{allRenters}}</p>
          <p class="fonthandel">الاعلانات الحديثة</p>
        </div>
        <div class=" ads col-sm-12 col-md-5">
          <p>{{allRenters}}</p>
          <p class="fonthandel">الاعلانات المدفوعه</p>
        </div>
      </div>

    </div>
  </div>
</div>
