


.example-full-width {
  width: 50%;
}
th.mat-header-cell{
  border: none;
  text-align: center;
  align-items: center;
  justify-content: center !important;
  background-color: black;
  color: white;
  font-size: 1.3em;
  text-align: center !important;
  vertical-align: middle !important;
} 
th.mat-sort-header-container {
  justify-content: center !important;
  align-items: center;
}

table{
  width: 100%;
  overflow-x: auto;
  table-layout:auto;
}
td.mat-cell{
  padding: 4px;
  text-align: center !important;

}

button{
  background-color:#FE6F41;
  color: white;

}