
<mat-toolbar class=" fixed-top">

    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top shadow ">

      <div class="container-fluid">

        <a class="navbar-brand" routerLink="home">سكن</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="تبديل التنقل">
          <span class="navbar-toggler-icon"></span>
        </button> 
    
         <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item" *ngIf="!isLogin">
              <a class="nav-link " aria-current="page" routerLink="home">الصفحة الرئيسية</a>
            </li>

            <li class="nav-item">
              <a class="nav-link "*ngIf="!isLogin" aria-current="page" routerLink="about">التعريف</a>
            </li>
            <li class="nav-item" *ngIf="isLogin">
              <a class="nav-link "><mat-icon matBadge="15"  matBadgeColor="warn">notifications</mat-icon></a>
            </li>

          </ul>
          <div class="d-flex">
            <button class="btn mx-1" *ngIf="!isLogin" routerLink="login"> دخول</button>
            <button class="btn mx-1" *ngIf="isLogin" (click)="logout()">خروج</button>

          </div>
        </div>
      </div>
     
    </nav>



</mat-toolbar>  