
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Find Admin</mat-label>
      <input matInput placeholder="Enter Name"  #name (keyup)="findByName(name)">
    </mat-form-field>
</form>
    <div class="mat-elevation mt-2  m-auto ">
        <table mat-table [dataSource]="dataSource"  matSort  class="m-auto border border-5 table  ">
      
          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header ></th> 
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header > الاسم</th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
      
          <!-- Weight Column -->
          <ng-container matColumnDef="email" class="text-center ">
            <th mat-header-cell *matHeaderCellDef mat-sort-header > البريد الالكتروني </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>
      
          <!-- Symbol Column -->
          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef  > العنوان</th>
            <td mat-cell *matCellDef="let element"> {{element.address.city}} </td>
          </ng-container>

          <!-- block Column -->
          <ng-container matColumnDef="block">
            <th mat-header-cell *matHeaderCellDef> حظر</th>
            <td mat-cell *matCellDef="let element">  <button  type="button" class="btn btn-secondary m-1"><span class="material-icons">block</span></button> </td>

          </ng-container>

           <!-- delete Column -->
          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> حذف</th>
            <td mat-cell *matCellDef="let element">  <button  type="button" class="btn btn-secondary m-1"><span class="material-icons">delete</span></button> </td>
          </ng-container>
         
         
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator  #paginator [length]="10"
        [pageSize]="10" showFirstLastButtons
        [pageSizeOptions]="[5,2,10]"
        aria-label="Select page"
        aria-label="Select page of periodic elements">
                      
        </mat-paginator>
      </div>
      

