
.navbar .container-fluid  a{
    font-weight: 800;
    color: #FE6F41;

    font-size: 20px;
}

.navbar .container-fluid li a{
    text-decoration: none;
  
    font-weight: 600;

    color: #585858;
    font-size: 14px;
}

.navbar .container-fluid li a:hover{
  
    color: #FE6F41;
}
.btn{
    padding: 10px 15px;
    border-style: none;
    background: #585858;
    color: #ffffff;
    font-size: 10px;
    font-weight: 700;
} 

.btn:hover{
    background: #FE6F41;
}
