
<!-- Page Content -->
<div class="container height" style="margin-top: 40px;">

  <div class="row justify-content-center">
    <!-- Team Member 1 -->
    <div class="col-sm-8 mb-4">
      <div class="alret alert-danger" *ngIf="isvalid" style="padding: 10px;">برجاء ملئ البيانات اولا</div>
      <form
      class="form-signin formbg"
      dir="rtl"
      [formGroup]="registeration"
      >
      <h1 class="h3 mb-3 fw-normal">انشاء حساب جديد</h1>
      <div class="form-label-group hov">
        <input
            type="text"
            name="firstName"
            id="inputName"
            class="form-control"
            placeholder="User name"
            formControlName="firstName"
            autofocus
          />
          <label for="inputName">الاسم الاول </label>
          <div
          class="alert alert-danger"
            role="alert"
            *ngIf="
              registeration.controls['firstName'].errors &&
              registeration.controls['firstName'].touched
            "
          >
            <strong
              *ngIf="

                registeration.controls['firstName'].errors['required']"
              >الاسم الاول مطلوب</strong
            >
            <strong
              *ngIf="registeration.controls['firstName'].errors['minlength']"
              >الاسم الاول يجب الا يقل عن حرفان</strong
            >

            <strong
              *ngIf="registeration.controls['firstName'].errors['maxlength']"
              >الاسم الاول يجب الا يزيد عن عشرة احرف</strong
            >
            <strong
              *ngIf="registeration.controls['firstName'].errors['pattern']"
              >الاسم الاول يجب ان يكون عربى</strong
            >
          </div>
          <strong id="name"></strong>


        </div>
        <div class="form-label-group hov">
          <input
          type="text"
            name="lastName"
            id="lastName"
            class="form-control"
            placeholder="User name"
            formControlName="lastName"
            autofocus
            />
          <label for="lastName"> الاسم الاخير</label>
          <div
          class="alert alert-danger"
            role="alert"
            *ngIf="
            registeration.controls['lastName'].errors &&
            registeration.controls['lastName'].touched
            "
          >
            <strong
              *ngIf="
              registeration.controls['lastName'].errors &&
                registeration.controls['lastName'].errors['required']
              "
              >الاسم الاول مطلوب</strong
            >
            <strong
              *ngIf="registeration.controls['lastName'].errors['minlength']"
              >الاسم الاول يجب الا يقل عن حرفان</strong
            >

            <strong
              *ngIf="registeration.controls['lastName'].errors['maxlength']"
              >الاسم الاول يجب الا يزيد عن عشرة احرف</strong
            >
            <strong *ngIf="registeration.controls['lastName'].errors['pattern']"
              >الاسم الاول يجب ان يكون عربى</strong
            >
          </div>
        </div>
        <small id="name"></small>

        <div class="form-label-group hov">
          <input
            type="email"
            name="email"
            id="inputEmail"
            class="form-control"
            placeholder="Email address"
            formControlName="email"
            autofocus
            />
          <label for="inputEmail">البريد الالكترونى</label>
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="
              registeration.controls['email'].errors &&
              registeration.controls['email'].touched
            "
          >
          <strong
          *ngIf="
                registeration.controls['email'].errors &&
                registeration.controls['email'].errors['required']
              "
              >برجاء ادخال البريد الالكترونى</strong
            >
            <strong *ngIf="registeration.controls['email'].errors['email']"
              >ادخل بريد الكترونى صحيح</strong
            >

            <strong *ngIf=" registeration.controls['email'].errors['pattern']">ادخل بريد الكترونى صحيح</strong>
          </div>
          <small  id="email"></small>
        </div>

        <div class="form-label-group hov">
          <input
          type="text"
            name="phone"
            id="inputPhone"
            class="form-control"
            placeholder="User phone"
            formControlName="phone"
            autofocus
          />
          <label for="inputPhone">رقم الموبايل</label>
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="
              registeration.controls['phone'].errors&&
              registeration.controls['phone'].touched
            "
            >
            <strong
            *ngIf="
            registeration.controls['phone'].errors &&
            registeration.controls['phone'].errors['required']
            "
            >برجاء ادخال رقم الهاتف</strong
            >
            <strong *ngIf="registeration.controls['phone'].errors['minlength']">
              رقم الهاتف يجب الا يقل عن 11 رقما</strong
              >

              <strong *ngIf="registeration.controls['phone'].errors['maxlength']"
              >رقم الهاتف يجب الا يزيد عن 11 رقما</strong
              >
              <strong *ngIf="registeration.controls['phone'].errors['pattern']"
              >ادخل رقما صحيحا</strong
              >
            </div>
            <strong id="phone"></strong>
          </div>

          <div class="form-label-group">
            <input
            type="password"
            name="password"
            id="inputPassword"
            class="form-control"
            placeholder="Password"
            formControlName="password"
            />
            <label for="inputPassword">كلمة المرور</label>
            <div>
              <p id="password"></p>

            </div>
            <div
            class="alert alert-danger"
            role="alert"
            *ngIf="
              registeration.controls['password'].errors &&  registeration.controls['phone'].touched"
          >
            <strong
              *ngIf="
                registeration.controls['password'].errors &&
                registeration.controls['password'].errors['required']
              "
              >برجاء ادخال كلمة المرور</strong
            >
            <strong
              *ngIf="registeration.controls['password'].errors['minlength']"
            >
             كلمة المرور لا تقل عن 8 اهرف وارقام
              </strong>

            <strong
              *ngIf="registeration.controls['password'].errors['maxlength']"
              >كلمة المرور يجب ان لا تزيد عن 20 حرفا ورقما</strong
            >
            <small *ngIf="registeration.controls['password'].errors['pattern']">
              يجب أن تتكون كلمة المرور الخاصة بك من أكثر من 8 أحرف ، ويجب أن تحتوي على الأقل على حرف كبير واحد ، وحرف صغير واحد ، ورقم واحد ، ورمزا واحد </small
            >
          </div>

        </div>


        <div class="form-outline mb-4">
          <label class="form-label" for="gender" id="gender">النوع</label>
          <select
            formControlName="gender"
            class="select w-100 form-control"
            style="margin-left: 80px; padding-right: 95px"
          >
          <option disabled selected value>النوع</option>
            <option value="male">ذكر</option>
            <option value="female">انثى</option>
          </select>
          <div
            *ngIf="
            registeration.controls['gender'].errors &&
            registeration.controls['gender'].errors['gender']"
          >
            <small
            class="form-text text-dark"
            *ngIf="
            registeration.controls['gender'].invalid &&
            registeration.controls['gender'].errors['required']"
            >
            الحقل مطلوب</small
            >
          </div>
        </div>
        <!-- <div class="form-outline mb-4">
          <label class="form-label" for="type" id="type">تسجيل كـ</label>
          <select
          formControlName="type"
          class="select w-100 form-control"
          style="margin-left: 80px; padding-right: 95px"
          >
            <option disabled selected value>تسجيل كـ</option>
            <option value="superAdmin">مسؤول</option>
            <option value="admin">مسؤول فرعى</option>
          </select>
          <div
            *ngIf="
            registeration.controls['type'].errors &&
            registeration.controls['type'].errors['type']"
          >
            <small
              class="form-text text-dark"
              *ngIf="
                registeration.controls['type'].errors &&
                registeration.controls['type'].errors['required']
                "
            >
              الحقل مطلوب</small
            >
          </div>
        </div> -->


        <div class="form-group col-sm-12">
          <button
            class="send form-group col-md-5 w-100 right"
            type="submit"


            (click)="sign_up()"
          >
            انشاء حساب
          </button>
        </div>


      </form>
    </div>
  </div>
</div>


