<form class="form-signin"   >

    <h1 class="h3 mb-3 fw-normal"> اضافة مسؤول جديد</h1>
  
    <div class="form-label-group hov">
      <input type="text" id="inputName" class="form-control " placeholder="User name" required autofocus>
      <label for="inputName">اسم المسؤول</label>
    </div>
  
    <div class="form-label-group hov">
      <input type="email" id="inputEmail" class="form-control " placeholder="Email address" required autofocus>
      <label for="inputEmail">البريد الالكترونى</label>
    </div>
  
    <div class="form-label-group hov">
      <input type="number" id="inputPhone" class="form-control " placeholder="User phone" required autofocus>
      <label for="inputPhone">رقم الموبايل</label>
    </div>
  
    <div class="form-label-group hov">
      <input type="password" id="inputPassword" class="form-control " placeholder="Password" required>
      <label for="inputPassword">كلمة المرور</label>
    </div>
  
    <div class="checkbox mb-3">
      <div class="form-check form-check-inline">
        <input class="form-check-input hov" type="radio" name="male" id="inlineRadio1" value="male">
        <label class="form-check-label" for="inlineRadio1">ذكر</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input hov" type="radio" name="female" id="inlineRadio2" value="female">
        <label class="form-check-label" for="inlineRadio2">أنثى</label>
      </div>
    </div>
  
    <button class="send form-group col-md-5 right" type="submit" >تسجيل</button>

  
  </form>
  