.example-container {
    width: 40vw;
    height: 300px;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
  }
  
  .example-sidenav {
    padding: 20px;
  }
  .list{

        top: 6;
        right:0;
        position:fixed;
        overflow-y:hidden;
        overflow-x:hidden;
   
  }