<div class="container ">
  <div class="row justify-content-center">
    <div class="four col-md-3 my-1"  (click)="pending()">
      <div class="counter-box">
        <span class="counter">2</span>
        <p>إعلانات لم يتم الموافقه عليها بعد</p>
      </div>
    </div>
    <div class="four col-md-3 my-1" (click)="rented()">
      <div class="counter-box">
        <i class="fa fa-group"></i>
        <span class="counter">3</span>
        <p>العقارات التى تم تاجيرها</p>
      </div>
    </div>
    <div class="four col-md-3 my-1"  (click)="navigate()">
      <div class="counter-box">
        <i class="fa fa-shopping-cart"></i>
        <span class="counter">2</span>
        <p>لم يتم التاجير بعد</p>
      </div>
    </div>
    <div class="text-center w-75 mt-5">
      <button class="send" type="submit" routerLink="/AddProperityComponent">
        اعلن معنا
      </button>
    </div>
  </div>
</div>

<!-- <img src=""> -->
