 <html>
<head>

</head>
<body>
    <h2>البيانات الشخصية</h2>

<form dir="rtl">
    <div class="mb-3">
      <label for="exampleInputName" class="form-label">الاسم</label>
      <input type="name" class="form-control" id="exampleInputName" aria-describedby="nameHelp">
      
    </div>
    
    <div class="mb-3">
      <label for="exampleInputEmail" class="form-label">الايميل</label>
      <input type="email" class="form-control" id="exampleInputEmail">
    </div>
    


    <div class="mb-3">
      <label for="exampleInputImage" class="form-label">الصورة</label>
      <input type="image" class="form-control" id="exampleInputImage">
    </div>
    <div class="container"> 
      <button type="button" class="btn  btn-secondary btn-lg">تأكيد</button>
  </div>   
    
    
  </form>
</body>
</html> 


