

<div class="container mt-3">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>عنوان</th>
          <th>وصف المحتوى</th>
          <th>لوجو</th>
          <th colspan="2">الاجراء المتخذ</th>
          <!-- <th></th> -->
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let item of arr">
          <td>{{item.title}}</td>
          <td>{{item.description}}</td>
          <td><img [src]=item.image  width="100px" hieght="100px"></td>
          <td><button class="send" style="width: 79px;height: 42px; padding: 0px;" (click)="showReport(item.id)">تعديل</button></td>
          <td><button class="send" style="width: 79px;height: 42px; padding: 0px;"  (click)="deleteReport(item.id)">حذف</button></td>
        </tr>
      </tbody>
    </table>
  </div>