<!--  -->

  <!-- Header -->
<header class=" text-center  mb-4 ">
  <div class="container background py-5 mt-5">
    <h1 class="fw-light text-white">تسجيل الدخول</h1>
  </div>
</header>

<!-- Page Content -->
<div class="container">
  <div class="row justify-content-center">
    <!-- Team Member 1 -->
    <div class="col-sm-4 mb-4">

    <form  [formGroup]="loginForm" (ngSubmit)="onSubmit()">
     
      <h1 class="h3 mb-3 fw-normal">من فضلك قم بادخال بياناتك </h1>
  
      <div class="form-floating hov">
        <input type="email" class="form-control"formControlName="email" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">البريد الالكترونى</label>
      </div>
      <div class="form-floating hov">
        <input type="password" class="form-control" formControlName="password" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">كلمة المرور</label>
      </div>
  
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me" class="hov"> تذكرنى
          <!-- تسجيل ف الكوكي -->
        </label> 
      </div>
      <button class="send" type="submit" [disabled]="!loginForm.valid">تسجيل الدخول</button>
      <br> <br>
      <div class="form-floating ">
        <a href="#"  class="hov2">هل نسيت كلمة المرور؟</a>
        <br>
        <a routerLink="/register" class="hov2">ليس لدى حساب</a>
      </div>
    </form>

    </div>
    </div>
    </div>
    
  