.gradient-custom-2 {

  background-color: #F05454;

  }
  .header{
    font-family: cairo;
    font-weight: 800;
    font-size: 2rem;
  }

  .gradient-form{
    margin-top:2%;
    display: flex;
    justify-content: center;
    align-content: center;
    background-image: url(src\assets\living-room-interior-wall-mockup-warm-tones-with-pink-armchair-minimal-design-3d-rendering.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  @media (min-width: 768px) {
    .gradient-form {
      height: 100vh !important;
    }
  }
  @media (min-width: 769px) {
    .gradient-custom-2 {
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
    }
  }

  .bi{
    font-size: 67px;
    padding-bottom: 10%;
    color:rgb(240, 84, 84);


  }

