<div *ngIf="!loading" class="pt-5 mt-5">


  <div class="container my-5 owner  w-75 m-auto">
    <div class="row">
      <div class=" col-sm-12  col-md-6 text-center rounded-circle  photo ">
        <img [src]="owner.image" class="rounded-circle avatar img-fluid" alt="...">

      </div>
      <div class="col-sm  d-flex justify-content-center flex-column align-items-center mt-5">
        <h1>{{owner.name}}</h1>
        <h3>{{owner.phone}} <mat-icon class="mx-2" style="position:relative; top:5px;">phone</mat-icon></h3>

        <h3>{{owner.email}} <mat-icon class="mx-2" style="position:relative; top:6px;">email</mat-icon> </h3>


      </div>
    </div>
  </div>





  <div class="album  notRented " *ngIf="totalNumberNotRented>0">
    <div class="line  mt-5 m-auto ">
    </div>
    <h2 class="text-center mt-3">المعروض حاليا</h2>
    <div class="container m-auto">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 g-3">

        <div class="col " *ngFor="let advertisment of allAdvertNotRented ">
          <div class="card shadow-sm m-3" routerLink="/details/{{advertisment.id}}">


            <img [src]="advertisment.advertisement_image[0].image_name" height="200px" width="100%"
              alt="{{advertisment.advertisement_image[0].image_name}}">
            <div class="card-body bg-light ">
              <div class="container">
                <div class="row ">

                  <div class="col px-3 py-2">
                    <div class="d-flex flex-row justify-content-between">

                      <p class="mb-2 text-muted">{{advertisment.type | type}}</p>
                      <div class="d-flex flex-row" *ngIf="advertisment.ratings_count>0">
                        <mat-icon style="font-size:large;">star</mat-icon>
                        <p>{{advertisment.ratings_avg_count  | number : '1.1-1'}}</p>
                        <p>({{advertisment.ratings_count}})</p>
                      </div>

                    </div>
                    <h3 class="mb-0 title">{{advertisment .title}}</h3>
                    <h3 class="mb-0 price">{{advertisment .price}}جنيه</h3>
                    <div class="d-flex justify-content-between align-items-center ">
                      <small class="text-muted"> <span class="material-icons   ">location_on</span>
                        {{advertisment.address}}</small>
                    </div>
                    <!-- <div class=" mt-2">
                                <button type="button" class="btn mx-1 btn-sm btn-outline-warning">تعديل</button>
                              </div> -->
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="album pt-5  " *ngIf="totalNumberRented >0">

    <div class="line  mt-5 m-auto ">
    </div>
    <h2 class="text-center mt-3"> تم تأجيرها </h2>

    <div class="album pt-5 ">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 g-3">

          <div class="col " *ngFor="let advertisment of allAdvertRented ">
            <div class="card shadow-sm m-3" routerLink="/details/{{advertisment.id}}">


              <img [src]="advertisment.advertisement_image[0].image_name" height="200px" width="100%"
                alt="{{advertisment.advertisement_image[0].image_name}}">
              <div class="card-body bg-light ">
                <div class="container">
                  <div class="row ">

                    <div class="col px-3 py-2">
                      <div class="d-flex flex-row justify-content-between">

                        <p class="mb-2 text-muted">{{advertisment .type}}</p>
                        <div class="d-flex flex-row" *ngIf="advertisment .ratings_count>0">
                          <mat-icon style="font-size:large;">star</mat-icon>
                          <p>{{advertisment .ratings_avg_count}}</p>
                          <p>({{advertisment .ratings_count}})</p>
                        </div>

                      </div>
                      <h3 class="mb-0 title">{{advertisment .title}}</h3>
                      <h3 class="mb-0 price">{{advertisment .price}}جنيه</h3>
                      <div class="d-flex justify-content-between align-items-center ">
                        <small class="text-muted"> <span class="material-icons   ">location_on</span>
                          {{advertisment.address}}</small>
                      </div>
                      <!-- <div class=" mt-2">
                                <button type="button" class="btn mx-1 btn-sm btn-outline-warning">تعديل</button>
                              </div> -->
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>

      </div>


    </div>
  </div>
<app-footer> </app-footer>
</div>

  <div class="justify-content-center align-items-center" *ngIf="loading">
    <mat-spinner class="text-center w-50  mt-5 pt-5 " style="top: 30px;"></mat-spinner>

  </div>