.gradient-form
{
  height:100vh;
  overflow: hidden;
  background-image: url(src\assets\interior-wall-mockup-with-sofa-cabinet-living-room-with-empty-white-wall-background-3d-rendering.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.text{
  text-align: center;
  font-weight:600;
  font-size:1.5em;
  color:#FE6F41;
  font-family: cairo;
}
.para{
  font-size: 12px;
  text-align: center;
  /* line-height: 3; */
  padding-top: 10px;


}
