<title>Report form</title>

  <body>
    
<form class="form-signin">

    <div class="form-label-group">
        <input type="text" id="inputName" class="form-control" placeholder="Name" required autofocus>
        <label for="inputName">اسم المستأجر</label>
      </div>    

  <div class="form-label-group">
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputEmail">البريد الالكترونى</label>
  </div>

  <div class="form-label-group">
    <input type="number" id="inputPhone" class="form-control" placeholder="phone" required>
    <label for="inputPhone">رقم الموبايل</label>
  </div>

  <div class="form-label-group">
    <input type="txtarea" id="inputDescription" class="form-control" placeholder="Description" required autofocus>
    <label for="inputDescription">وصف الشكوى</label>
  </div>

  <div class="custom-file">
    <label class="custom-file-label" for="customFile">المرفق 1</label>
    <input type="file" class="custom-file-input" id="customFile">
  </div>
  <div class="custom-file">
    <label class="custom-file-label" for="customFile">المرفق 2</label>
    <input type="file" class="custom-file-input" id="customFile">
  </div>
  <div class="custom-file">
    <label class="custom-file-label" for="customFile">المرفق 3</label>
    <input type="file" class="custom-file-input" id="customFile">
  </div>
  <div class="custom-file">
   <br>
  </div>
  
  <div>
  <button class="send" type="submit">تقديم الشكوى</button>
</div>
</form>


    
  </body>
