<title>Report form</title>
<div class="container mt-5">

<div *ngIf="isvalid"  class="alert alert-danger text-center col-5" style="margin: auto;">من فضلك ادخل البيانات صحيحة</div>

<form class="form-signin" [formGroup]="form" (ngSubmit)="submitForm()" novalidate >

    <div class="form-label-group">
        <input type="text" id="title" formControlName="title" class="form-control"
         placeholder="Name" required autofocus >
        <label for="inputName">العنوان</label>        
        <div class="alert alert-danger" role="alert"
          *ngIf="form.controls['title'].errors && form.controls['title'].touched" >
          <strong *ngIf="form.controls['title'].errors['required']">العنوان مطلوب</strong>
          <strong *ngIf="form.controls['title'].errors['minlength']" >  العنوان  يجب الا يقل عن 10 احرف</strong>
          <strong *ngIf="form.controls['title'].errors['maxlength']">  العنوان  يجب الا يزيد عن ثلاثون حرف</strong>
          <strong *ngIf="form.controls['title'].errors['pattern']" >   العنوان  يجب ان يكون حروف </strong>
        </div>       
      </div>    

  <div class="form-label-group">
       <input  type="text" id="description" formControlName="description" class="form-control"  required autofocus >
       <label for="inputEmail">وصف المحتوى </label>
      <!-- </textarea> -->
       <div class="alert alert-danger" role="alert"
          *ngIf="form.controls['description'].errors && form.controls['description'].touched" >
          <strong *ngIf="form.controls['description'].errors['required']">الوصف مطلوبة</strong>
          <strong *ngIf="form.controls['description'].errors['maxlength']">  الوصف  يجب الا تزيد عن عشرة احرف</strong>
          <strong *ngIf="form.controls['description'].errors['pattern']" >  الوصف  يجب ان تكون حروف</strong>
        </div>
  </div>
  <br> <br>

  <div class="custom-file">
    <label class="custom-file-label" for="customFile">الصورة </label>
    <input type="file" name="image" class="custom-file-input" id="customFile"
     (change)="uploadFile1($event)"
     style="margin-right: 30px;">
  </div>
  <br> <br>

  <button type="submit" class="send" id="update" >تأكيد </button>

  </form>
  </div>