button {
  padding: 5px 5px;
  border-style: none;
  color: #ffffff;
  font-size: 10px;
  font-weight: 700;
  width: 11rem;
  background: #FE6F41;

}

button:hover {
  background: #585858;

}

.search {
  height: 100vh;
  /* object-position: center;
  object-fit:contain; */
  background-image: url(../../../../assets/download.jpg);

  background-position: center;
  background-size: cover;
  display: flex;
  text-align: center;
  justify-content: center !important;
  align-items: center !important;
  margin-right: 2px;

}

.line {
  height: 3px;
  width: 80%;
  background-color: #FE6F41;
}
h2{
  color:#FE6F41;
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 5px;
} 




* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.card-body h3,
p {
  text-overflow: ellipsis;

  overflow: hidden;
}

.card {
  white-space: nowrap;
  overflow: hidden;
}

span,
.title {
  color: #FE6F41;

}

.favorite {

  position: absolute;
  top: 0;
  left: 0;
}

.photo {
  position: relative;
}

.notselected {
  border-color: #FE6F41;

}

.selected,
mat-icon {
  color: #FE6F41;
}