



.demo-table {
  width: 100%;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}
.font{
  font-size: 1.2em;
}
/* .short_para{
    width: 200px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
} */

.color{
  background-color: rgba(0,0,0,.55);
  color:#fff;
}
table{
  width: 100%;
  overflow-x: auto;
  table-layout:auto;
}
:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

/* .example-full-width {
  width: 50%;
}
 th.mat-header-cell{
  border: none;
  text-align: center !important;

}
th {
  justify-content: center !important;
  align-items: center;
}


td.mat-cell{
  padding: 4px;
}
table {
  width: 100%;
}
.title-center {
  margin: 0 auto;
}

mat-header-cell {
  justify-content: center !important;
  margin: 0 auto;
} */

/* button{
  background-color:#FE6F41;

} */

.mat-header-row,
.mat-footer-row,
.mat-row {
  min-width: 1920px;
}

@media (max-width: 1200px) {
  .mat-header-row,
  .mat-footer-row,
  .mat-row {
    min-width: 2500px;
  }
}

@media (max-width: 992px) {
  .mat-header-row,
  .mat-footer-row,
  .mat-row {
    min-width: 3000px;
  }
}

@media (max-width: 768px) {
  .mat-header-row,
  .mat-footer-row,
  .mat-row {
    min-width: 4000px;
  }
  .short_para{
    /* display: inline-block; */
      width: 200px;
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis;
  }

}
