<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">

    <footer class=" text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><fa-icon [icon]="faFacebook"></fa-icon>
        </a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><fa-icon [icon]="faTwitter"></fa-icon>
        </a>
  
        
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button" ><fa-icon [icon]="faSquareInstagram"></fa-icon>
        </a>
  
      
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3 link" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 الحقوق محفوظه :
      <a  routrlink="home" class="text-light text-decoration-none" >سكن</a>
    </div>
    <!-- Copyright -->
  </footer>
    
  </div>
  <!-- End of .container -->
  