footer{
   
        background: #494545;

       
}
footer a:hover{
        color: #FE6F41;
}
.link{
        cursor: pointer;
}

h4{
        font-size: 2rem;
        color: #FE6F41;
        font-weight: bold;

}
h5{
        font-weight: bold;
}