<mat-sidenav-container class="mt-5 p-3" >
    <mat-sidenav #sidenav="matSidenav" mode="side"  opened>
      <img
        class="avatar mat-elevation-z8"
       [src] ="image"/>
       <mat-icon>camera_alt</mat-icon>
      <h2 class="name">{{name}}</h2>


      <mat-divider></mat-divider>
      <ul class="nav flex-column"  *ngIf="isAdmin ||  isSuperAdmin">

        <li class="nav-item">
          <a class="nav-link" routerLink="adminhome">
            <span data-feather="file"></span>
            لوحة التحكم
          </a>
        </li>
        <li class="nav-item" *ngIf="  isSuperAdmin">
          <a class="nav-link" routerLink="allRenters"  >
            <span data-feather="file"></span>
            المستأجرين
          </a>
        </li>
        <li class="nav-item" *ngIf="  isSuperAdmin">
          <a class="nav-link" routerLink="allOwners">
            <span data-feather="shopping-cart"></span>
            الملاك
          </a>
        </li>
        <li class="nav-item" *ngIf="isSuperAdmin">
          <a class="nav-link" routerLink="/allAdmins">
            <span data-feather="users"></span>
            المسؤولين
          </a>
        </li>
        <li class="nav-item" *ngIf="isSuperAdmin">
          <a class="nav-link" routerLink="/addAdmin">
            <span data-feather="users"></span>
          اضافة مسؤول
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/requests">
            <span data-feather="bar-chart-2"></span>
            الاعلانات
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/accepted-ads">
            <span data-feather="bar-chart-2"></span>
            الاعلانات المقبولة
         </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/rejected-ads">
            <span data-feather="bar-chart-2"></span>
            الاعلانات المرفوضة
         </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/payed-ads">
            <span data-feather="bar-chart-2"></span>
            الاعلانات المدفوعة
         </a>
        </li>
        <li class="nav-item" *ngIf="isSuperAdmin">
          <a class="nav-link" routerLink="/blockList">
            <span data-feather="layers"></span>
            المحظورين
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/allreports">
            <span data-feather="layers"></span>
            ابلاغات
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/aboutPolicty">
            <span data-feather="layers"></span>
            معلومات عنا
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/team">
            <span data-feather="layers"></span>
            فريقنا
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/followShow">
            <span data-feather="layers"></span>
            وسائل التواصل الاجتماعي
          </a>
        </li>
      </ul>


<!-- owner  -->
      <mat-divider *ngIf="isOwner"></mat-divider>
      <ul class="nav flex-column" *ngIf="isOwner">

        <li class="nav-item" >
          <a class="nav-link" routerLink="/addProperity">
            <span data-feather="file"></span>
            إضافة اعلان
          </a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" routerLink="/notrented">
            <span data-feather="file"></span>
          الاعلانات الغير مؤجرة
          </a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" routerLink="/pending">
            <span data-feather="file"></span>
          الاعلانات  المعلقة
          </a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" routerLink="/rented">
            <span data-feather="file"></span>
          العقارات المؤجرة
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/payed-rented">
            <span data-feather="file"></span>
          العقارات المدفوعة
          </a>
        </li>

      </ul>
      <mat-divider *ngIf="isOwner"></mat-divider>




      <mat-divider></mat-divider>
      <ul class="nav flex-column">

        <li class="nav-item" *ngIf="isRenter">
          <a class="nav-link" routerLink="userfavourites">
            <span data-feather="file"></span>
            المفضله
          </a>
        </li>
        <li class="nav-item">
          <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
            الحساب
          </button>
          <div class="collapse" id="dashboard-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a routerLink="/editpersonaldata" style="text-decoration: none;" class="link-dark rounded">تعديل البيانات</a></li>
              <li><a routerLink="/editpassword" style="text-decoration: none;" class="link-dark rounded">تعديل كلمة السر</a> </li>

            </ul>
          </div>
        </li>
      </ul>



    </mat-sidenav>
    <mat-sidenav-content >
      <button class="navbar-toggler  mt-0 d-md-none collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu"
      mat-icon-button
      *ngIf="sidenav.mode === 'over'"
      (click)="sidenav.toggle()"
    >
    <span>  قائمة التحكم  <mat-icon *ngIf="!sidenav.opened" class="mx-2" style="position:relative; top:5px;">apps</mat-icon></span>
<!--
      <mat-icon *ngIf="!sidenav.opened"> apps </mat-icon>
      <mat-icon *ngIf="sidenav.opened"> apps </mat-icon> -->

    </button>
      <div class="content ">

        <router-outlet></router-outlet>
      </div>


    </mat-sidenav-content>


  </mat-sidenav-container>

