/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;

    background-color: white;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
    font-family: cairo;
}

.bodyheight
{
  height: 100vh;
}
.send{
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 20px;
  background: var(--secondColor);
  color: #ffff;
  border:none;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  background: #FE6F41 !important;
  caret-color:#FE6F41;

}
.send:hover {
  background: #353535 !important;
  color: #fff;
}

.noData{
  height:50vh;
  display: flex;
  align-items: center;
  justify-content: center;

}
.noData p {
font-size: 2em;

}
