
<div *ngIf="!loading">
  <div class="container  mt-5 p-5 ">
    <div class="row  w-75 justify-content-center m-auto ">
      <div class="col d-flex justify-content-center">
        <mat-form-field appearance="fill" >
          <mat-label>الموقع</mat-label>
          <mat-select  (selectionChange)="getFilterLocation($event)">
            <mat-option *ngFor="let location of allLocations" [value]="location.id">
              {{location.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col d-flex justify-content-center">
        <mat-form-field appearance="fill" >
          <mat-label>النوع</mat-label>
          <mat-select (selectionChange)="getFilterType($event)" >
            <mat-option *ngFor="let type of allTypes" [value]="type">
              {{type}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col d-flex justify-content-center">
        <mat-form-field appearance="fill" >
          <mat-label>عدد الغرف</mat-label>
          <mat-select (selectionChange)="getFilterBeds($event)" >
            <mat-option *ngFor="let bedsNum of bedsNumber" [value]="bedsNum">
              {{bedsNum}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row  w-75 justify-content-center m-auto ">
    
        <div class=" col d-flex justify-content-center m-2" (click)="getBySearch()">
          <button mat-raised-button>بحث <mat-icon class="field-icon">search</mat-icon> </button>
        </div>
        <div class="col d-flex justify-content-center m-2" >
          <button mat-raised-button>مسح<mat-icon class="field-icon">filter_alt</mat-icon> </button>
        </div>
    
  </div>
    
  </div>
    

  <div class="album py-5 ">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 g-3">

        <div class="col " *ngFor="let item of allAdvert | paginate: { itemsPerPage: 9,totalItems:totalNumber, currentPage: page }">
        <app-cart [advertisment]="item" > </app-cart>

      </div>
    </div> 
       
    </div>
    <pagination-controls previousLabel="السابق" nextLabel="التالي" class="text-center" (pageChange)="page = $event" *ngIf="totalNumber>9"></pagination-controls>

  </div> 
 
  <!-- <app-footer> </app-footer>  -->
  
</div>
<div class="justify-content-center align-items-center" *ngIf="loading">
  <mat-spinner class="text-center w-50  mt-5 pt-5 " style="top: 30px;"></mat-spinner>

</div>