

  
  button{
    padding: 5px 5px;
    border-style: none;
    color: #ffffff;
    font-size: 10px;
    font-weight: 700;
    width: 11rem;
    background: #FE6F41;

}
button:hover{
    background: #585858;

}  