

  
  button{
    padding: 5px 5px;
    border-style: none;
    color: #ffffff;
    font-size: 10px;
    font-weight: 700;
    width: 11rem;
    background: #FE6F41;

}
button:hover{
    background: #585858;

}  

.search{
  height: 100vh;
  /* object-position: center;
  object-fit:contain; */
  background-image: url(../../assets/interior-wall-mockup-with-sofa-cabinet-living-room-with-empty-white-wall-background-3d-rendering.jpg);
  width:100vw;

  background-position: center;
  background-size:cover;
display: flex;
flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;

  

}
.line{
  height: 3px;
  width: 80%;
 background-color: #FE6F41;
}

 h2{
  color: #FE6F41;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 5px;
} 
h4{
  margin-top: 5px;
  color: #615d5d;
  font-size: large;
  font-weight: bold;
}

h3{
  color: #FE6F41;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5px;
} 