

  
  button{
    padding: 5px 5px;
    border-style: none;
    color: #ffffff;
    font-size: 10px;
    font-weight: 700;
    width: 11rem;
    background: #FE6F41;

}
button:hover{
    background: #585858;

}  

.search{
  height: 70vh;
  background-image: url(../../assets/download.jpg);
  object-position: center;
  object-fit:contain;

}
.line{
  height: 3px;
  width: 80%;
 background-color: #FE6F41;
}