

<div class="container mb-7 col-lg-6 col-sm-12" style="margin-top: 131px;">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>فيسبوك</th>
          <th>{{links.links.facebook}}</th>
        </tr>
        <tr>
            <th>انستجرام</th>
            <th>{{links.links.instagram}}</th>
          </tr>
          <tr>
            <th>تويتر</th>
            <th>{{links.links.twitter}}</th>
          </tr>
          <tr>
            <th>بريد الكترونى</th>
            <th>{{links.links.email}}</th>
          </tr>
          <tr>
            <th>رقم هاتف</th>
            <th>{{links.links.phone}}</th>
          </tr>
          <tr>
            <!-- <th>الشعار</th>
            <th><img [src]=links.links.logo  width="200px" height="200px" ></th>
          </tr> -->
      </thead>
    </table>
    <button class="send" style="width: 100%;height: 42px; padding: 0px;" (click)="updateLinks(links.links.id)">تعديل</button>

  </div>