
<section>
    <div class="container">
        <div class="row">
          
            <div class="col-lg-6 col-md-8 col-sm-10 offset-md-1 offset-sm-1 col-12 mt-4"  *ngIf="condition" >
                <form id="algin-form" class="bg-light mt-5" [formGroup]="commentForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <h4>اترك تعليقك :</h4>


                        <textarea formControlName="comment" name="msg" id=""msg cols="30" rows="5" class="form-control" ></textarea>
                    </div>
                    <div class="text-danger my-2" *ngIf="commentForm.controls['comment'].touched && commentForm.controls['comment'].invalid">يجب أن يكون أكثر من أربعه أحرف</div>
                    <div style=" font-size:xx-large ; color:orange ;" class="form-group mt-2">
                        <ngb-rating [max]="5" [readonly]="false" formControlName="count"> </ngb-rating>
                    </div>
                   <div class="text-danger m-2"  *ngIf="commentForm.controls['comment'].touched && commentForm.controls['count'].invalid">التقييم مطلوب</div>
                    <div class="form-group">
                        <button [disabled]="commentForm.invalid"  type="submit" id="post" class="btn">نشر</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>